@{
    ViewData["Title"] = "Iniciar sesión";
    ViewBag.BreadcrumbIcon = "fa-clock";
    ViewBag.Breadcrumbs = new[] { "Sesiones", "Error" };
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @using (Html.BeginForm("IniciarSesion", "Clientes", FormMethod.Post, new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @* @Html.HiddenFor(model => model.IdUsuario) *@

                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "")
                            </div>
                        </div>

                        <div class="alert alert-warning" role="alert">
                            No puede iniciar una nueva sesión si tienes dos sesiones activas.
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                @Html.ActionLink("Regresar", "MisSesiones", null, null, new { @class = "btn btn-sm btn-secondary" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
