@model plani.Models.AsignacionesIndexViewModel

@{
    ViewData["Title"] = "Mis asignaciones";
    ViewBag.BreadcrumbIcon = "fa-tasks";
    ViewBag.Breadcrumbs = new[] { "Mis asignaciones" };
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    @if (Model.ProyectosAsignaciones.Count == 0)
                    {
                        <div class="alert alert-warning" role="alert">
                            No hay asignaciones registradas.
                        </div>
                    }
                    
                    @foreach (var proyecto in Model.ProyectosAsignaciones)
                    {
                        <div class="card mb-4">
                            <div class="card-header  p-0-5">
                                <h6 class="mb-0"><span class="text-sc">@proyecto.NombreCliente</span> | @proyecto.NombreProyecto</h6>
                            </div>
                            <div class="card-body pl-4">
                                @foreach (var asignacion in proyecto.Asignaciones)
                                {
                                    <p>
                                        Asignación: <b>@asignacion.Descripcion</b>
                                    </p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
