<footer xmlns="http://www.w3.org/1999/html">
	<div class="container my-4 text-center">
		<small>&copy; @DateTime.Now.Year - <span class="font-weight-bold">plani</span> - ArenalDevStudio</small>
	</div>
</footer>
