<footer>
	<div class="container-fluid text-right">
		<div class="row">
			<div class="col-12">
				<small><span class="font-weight-bold">Seguimientos Sandí Consultores </span>
					&copy; @DateTime.Now.Year <a>Arenal Dev Studio</a></small>
			</div>
		</div>
	</div>
</footer>