@model ErrorViewModel

@{
	ViewData["Title"] = "Error";
}

<div class="row mt-4">
	<div class="col-sm-12 text-center">
		<img src="~/images/error.svg" alt="Error" height="48">
	</div>

	<div class="col-sm-12 text-center">
		<h6 class="mt-3 text-danger">Error al procesar la solicitud.</h6>
	</div>

	@if (Model.ShowRequestId)
	{
		<div class="col-12 text-center">
			<p>
				<strong>Request Id:</strong> <code>@Model.RequestId</code>
			</p>
		</div>
	}

	@if (!String.IsNullOrEmpty(Model.ExceptionMessage))
	{
		<div class="col-12">
			<p>
				<small class="d-block">@Model.ExceptionMessage</small>
				<small class="d-block">@Model.StackTrace</small>
			</p>
		</div>
	}
</div>
